.logo {
  height: 6em;
  padding: 1.5em;
}
.logoXL {
  height: 40%;
  padding: 1.5em;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.clickable {
  cursor: pointer;
}